@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dagmars Travel Agency</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Dagmars Travel Agency</h2>
        <p>
            Here you can book your best trip ever.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Book it from scratch</h2>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed travelguide.</p>
    </div>
</div>
